@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 900;
  margin: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    140deg,
    #e0b5d3 10%,
    #75ca9f 40%,
    #e8eba8 75%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
