@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  font-family: "Zen Kurenaido", sans-serif;
  margin: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    140deg,
    #e49ccd 0%,
    #eadedb 50%,
    #e0eba5 75%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
